/* prodotti up */
.containerup {
  position: relative;
  top: 0;
  left: 0;
}

.articolo {
  position: absolute;
  display: inline-block;
}

.iphone {
  width: 300px;
  height: 400px;
}

.scontored {
  top: 0;
  right: 0;
  position:absolute;
  display: inline-block;
  background: red;
  color: white;
  border: solid rgb(246, 137, 137) 1px;
  padding: 3px;
}

.heartred {
  position: absolute;
  color: red;
  bottom: 4%;
  right: 51%;

}

.scontogreen {
  top: 0;
  right: 0;
  position:absolute;
  display: inline-block;
  background: green;
  color: white;
  border: solid rgb(20, 66, 4) 1px;
  padding: 3px;
}

/* prodotti down */
